@import "variables";

@mixin breakpointLarge() {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

ul,
figure {
  margin: 0;
}

.root {
  margin-top: 70px;
}

.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
  width: 100%;

  @include breakpointLarge() {
    padding: 40px;
  }
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpointLarge() {
    padding: 10px;
    justify-content: flex-start;
  }
}

.navbar-logo {
  flex: 0 0 60px;
  width: 60px;

  & > img {
    width: 100%;
  }
}

.navbar-dropdown-item {
  display: block;
  min-width: 68px;
}

.upload-button {
  margin-top: 15px;
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include breakpointLarge() {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.profile-data {
  @include breakpointLarge() {
    flex: 0 0 365px;
  }
}

.profile-avatar {
  margin-bottom: 15px;

  @include breakpointLarge() {
    margin: 0;
    flex: 0 0 152px;
  }
}

.header-main {
  text-align: center;
}

.profile-item-label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.spinner-box {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid;
}
